[submodule "SixSixTime"]
	path = SixSixTime
	url = https://github.com/dconman/SixSixTime.git
[submodule "GameMechanics"]
	path = GameMechanics
	url = https://github.com/dconman/GameMechanics.git
[submodule "EST"]
	path = EST
	url = https://github.com/dconman/EST.git
